@import "../../../../styles/variables.scss";

.day__info {
	position: relative;
	padding: 40px;
	max-width: 750px;
	width: 100%;
	background-color: var(#{--components-background-default});
	box-shadow: $box-shadow;
	border-radius: $border-radius;
	transition: 0.25s ease-in-out;
}
.item {
	position: relative;
	display: flex;
	align-items: center;
	margin-bottom: 25px;
	&:last-of-type {
		margin-bottom: 0;
	}
	.indicator {
		width: 39px;
		height: 39px;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: #fff;
		box-shadow: 1px 4px 10px -1px rgba(71, 147, 255, 0.25);
		border-radius: 50%;
		margin-right: 20px;
	}
	.indicator_name {
		font-size: 14px;
		color: $base-color;
		margin-right: 20px;
	}
	.indicator_value {
		font-size: 14px;
		color: var(#{--text-color-default});
	}
}
.cloud_img {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 0;
	border-radius: 20px;
}
