@import "../styles/variables";

.popup {
	position: absolute;
	top: 50%;
	left: calc(50% - 325px);
	z-index: 1001;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 40px;
	max-width: 750px;
	width: 100%;
	background-color: $light-background;
	box-shadow: $box-shadow;
	border-radius: $border-radius;
}
.blur {
	position: absolute;
	z-index: 1000;
	width: 100%;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.25);
}
.close {
	position: absolute;
	top: 15px;
	right: 15px;
	cursor: pointer;
	svg {
		transition: 0.3s ease-in-out;
	}
	&:hover {
		svg {
			transform: rotate(360deg);
		}
	}
}
.day {
	.day__temp {
		font-size: 60px;
		font-weight: 100;
		font-style: normal;
		color: $primary-color;
		margin-bottom: 12px;
	}
	.day__name {
		font-size: 25px;
		line-height: 30px;
		color: #000;
		margin-bottom: 12px;
	}
	.day__img {
		svg {
			width: 53px;
			height: 35px;
		}
		margin-bottom: 12px;
	}
	.day__time {
		font-size: 15px;
		color: $base-color;
		margin-bottom: 5px;
	}
	.day__city {
		font-size: 15px;
		color: $base-color;
	}
}
