@import "../../../../styles/variables.scss";

.this_day {
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 20px;
	width: 100%;
	background-color: var(#{--components-background-default});
	box-shadow: $box-shadow;
	border-radius: 0 0 $border-radius $border-radius;
}
.card {
	display: flex;
	flex-direction: column;
	background-color: var(#{--card-background-default});
	border-radius: 10px;
	padding: 10px;
	width: 149px;
	cursor: pointer;
	transition: 0.25s ease-in-out;

	.day {
		color: var(#{--text-color-default});
		margin-bottom: 7px;
		font-size: 18px;
	}
	.day__info {
		font-size: 14px;
		margin-bottom: 12px;
		color: $base-color;
	}
	.img {
		margin-bottom: 12px;
	}
	.temp__day {
		font-size: 18px;
		margin-bottom: 5px;
		color: var(#{--text-color-default});
	}
	.temp__night {
		font-size: 13px;
		color: $base-color;
		margin-bottom: 6px;
	}
	.info {
		font-size: 13px;
		color: $base-color;
	}
	&:hover {
		box-shadow: var(#{--card-shadow-default});
	}
}
.tabs {
	display: flex;
	justify-content: space-between;
	margin-bottom: 7px;
	transition: 0.24s ease-in-out;
}
.tabs__wrapper {
	display: flex;
}
.cancel,
.tab {
	cursor: pointer;
	padding: 9px 20px;
	border-radius: 5px;
	box-shadow: 2px 5px 25px -3px rgba(180, 180, 180, 0.25);
	background-color: var(#{--components-background-default});
	color: var(#{--text-color-default});
	font-size: 18px;
	margin-right: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.tab {
	&.active {
		background-color: $primary-color;
		color: #fff;
	}
}
.cancel {
	margin-right: 0;
}
