@import "~normalize.css";

*,
*::after,
*::before {
	box-sizing: border-box;
}

body {
	font-family: "Montserrat", sans-serif;
	background-color: var(#{--body-background-default});
	transition: 0.25s ease-in-out;
}
.global__container {
	position: relative;
}
.container {
	max-width: 1200px;
	margin: 0px auto;
	padding-top: 20px;
}
